<header class="header">
    <h1>{{title}}</h1>
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/">Weather</a>
        </li>
        <li class="nav-item">
            <a href="/about/">About</a>
        </li>
        <li class="nav-item">
            <a href="/help">Help</a>
        </li>
    </ul>
</header>